.flex-between {
    @apply flex justify-between items-center;
}

.animate {
    @apply transition-all duration-500 ease-in-out;
}

.baseStyles {
    @apply mb-5 w-full rounded-lg bg-primarybg-pink px-5 py-3 placeholder-white;
}