@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "/src/styles/components.css";

@import "tailwindcss";

@theme {
    --font-*: initial;
    --font-dm-sans: "DM Sans", "sans-serif";
    --font-montserrat: "Montserrat", "serif";
    --bg-primary: #f97316;
    --bg-secondary: #ffedd5;
    --color-primarybg: oklch(0.71 0.18 24.75);
    --color-secondarybg: #ffc132;
    --color-primarytxt-300: #ffa9a4;
    --color-primarytxt-500: #fa6f6a;
}

html,
body,
#root,
.app {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    font-family: var(--font-dm-sans);
    scroll-behavior: smooth;
}